In [1]:
#importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
datasets=pd.read_csv("Social_Network_Ads.csv")

In [3]:
datasets

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
datasets=pd.get_dummies(datasets,drop_first=True)

In [5]:
datasets

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
datasets=datasets.drop("User ID",axis=1)

In [7]:
datasets["Purchased"].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [8]:
indep=datasets[["Age","EstimatedSalary","Gender_Male"]]
dep=datasets["Purchased"]

In [9]:
indep

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [10]:
dep

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(indep,dep,test_size=0.30,random_state=0)

In [12]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5,weights='uniform',algorithm='auto',leaf_size=30, p=2,metric='minkowski',metric_params=None,n_jobs=None)
classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [13]:
y_pred=classifier.predict(X_test)

C:\Users\rajah\anaconda3\envs\pugazh\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [14]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [15]:
print(cm)

[[69 10]
 [11 30]]

In [16]:
from sklearn.metrics import classification_report
clf_report = classification_report(y_test,y_pred)

In [17]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,y_pred,)
print("The f1_macro value for best parameter {}:",f1_macro)

The f1_macro value for best parameter {}: 0.7407407407407408

In [18]:
from sklearn.metrics import accuracy_score
accuracy_score=accuracy_score(y_test,y_pred)
print("The accuracy_score value for best parameter {}:",accuracy_score)

The accuracy_score value for best parameter {}: 0.825

In [19]:
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score=balanced_accuracy_score(y_test,y_pred)
print("The balanced_accuracy_score for best parameter {}:",balanced_accuracy_score)

The balanced_accuracy_score for best parameter {}: 0.802562519296079

In [20]:
from sklearn.metrics import precision_score
precision_score=precision_score(y_test,y_pred)
print("The precision_score for best parameter {}:",precision_score)

The precision_score for best parameter {}: 0.75

In [21]:
from sklearn.metrics import recall_score
recall_score=recall_score(y_test,y_pred)
print("The recall_score for best parameter {}:",recall_score)

The recall_score for best parameter {}: 0.7317073170731707

In [22]:
from sklearn.metrics import jaccard_score
jaccard_score=jaccard_score(y_test,y_pred)
print("The jaccard_score for best parameter {}:",jaccard_score)

The jaccard_score for best parameter {}: 0.5882352941176471

In [23]:
from sklearn.metrics import top_k_accuracy_score
top_k_accuracy_score=top_k_accuracy_score(y_test,y_pred, k=2)
print("The top_k_accuracy_score for best parameter {}:",top_k_accuracy_score)

The top_k_accuracy_score for best parameter {}: 1.0

C:\Users\rajah\anaconda3\envs\pugazh\lib\site-packages\sklearn\metrics\_ranking.py:1745: UndefinedMetricWarning: 'k' (2) greater than or equal to 'n_classes' (2) will result in a perfect score and is therefore meaningless.
  UndefinedMetricWarning,

In [24]:
from sklearn.metrics import average_precision_score
average_precision_score=average_precision_score(y_test, y_pred)
print("The average_precision_score value for best parameter {}:",average_precision_score)

The average_precision_score value for best parameter {}: 0.6404471544715448

In [25]:
from sklearn.metrics import brier_score_loss
brier_score_loss=brier_score_loss(y_test,y_pred)
print("The brier_score_loss for best parameter {}:", brier_score_loss)

The brier_score_loss for best parameter {}: 0.175

In [26]:
from sklearn.metrics import log_loss
log_loss=log_loss(y_test,y_pred)
print("The log_loss for best parameter {}:",log_loss)

The log_loss for best parameter {}: 6.044352502228554

In [27]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.86      0.87      0.87        79
           1       0.75      0.73      0.74        41

    accuracy                           0.82       120
   macro avg       0.81      0.80      0.80       120
weighted avg       0.82      0.82      0.82       120

In [ ]:
classifier.predict([[40,300,1,]])